.cadre_info_categorie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background-color: black;
    color: white;
}

.card {
    background-color: black;
    color: white;
}

.row{
    width: 100%;
    margin: 0;
}
