.card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

body {
    background-color: black;
    color: white;
    width: 100%;
}

.card {
    background-color: black;
    color: white;
}

.row{
    width: 100%;
    margin: 0;
}

.btn_valid{
    z-index: 2000;
    right: 10px;
    top: 10px;
}

@media screen and (max-width :575px){
    .btn_valid{
        top :104px;
    }
}